* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zilla Slab", serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    /* border: 1px solid green; */
    width: 295px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1920px) {
    .container {
        min-width: 1620px;
        margin-left: auto;
        margin-right: auto;
    }
}