.header {
    border-bottom: 2px solid #fcfcfc;
    background-color: #df803e;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 10px 0 10px 0;
}

.header-nav-list {
    justify-content: center;
    display: flex;
    column-gap: 7px;
}

.header-nav-list-item-link {
    color: #000;
    text-align: center;
    font-size: 7px;
}

.header-nav-info-list {
    display: none;
}

.hero {
    position: relative;
    background-color: #df803e;
    padding-top: 50px;
    padding-bottom: 92px;
}

.hero::after {
    content: "";
    position: absolute;
    right: 0;
    top: 30px;
    width: 217px;
    height: 242px;
    background-image: url("./Photoes/whiteTriangleSmall.webp");
    background-size: cover;
    z-index: 2;
    background-repeat: no-repeat;
}

.hero::before {
    background-image: url("./Photoes/istorikMainSmall.webp");
    background-repeat: no-repeat;
    width: 117px;
    height: 168px;
    right: 28px;
    top: 66px;
    content: "";
    position: absolute;
    background-size: contain;
    z-index: 3;
}

.hero-info-title {
    font-size: 32px;
}

.hero-info-text {
    width: 150px;
    font-size: 10px;
    line-height: 1.3;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 31px;
}

.hero-info-button {
    border-radius: 3px;
    border: #000;
    text-align: center;
    font-size: 7px;
    padding: 1px 8px;
    background-color: #fff;
    max-width: 64px;
}

.hero-info-button:hover {
    color: rgba(222, 116, 43);
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (min-width: 1920px) {
    .container {
        min-width: 1620px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        padding-bottom: 29px;
        padding-top: 50px;
        z-index: 1;
    }

    .header-nav {
        display: flex;
    }

    .header-nav-list {
        justify-content: start;
        gap: 33px;
    }

    .header-nav-list-item-link {
        font-size: 26px;
    }

    .header-nav-info-list {
        display: inline-flex;
        gap: 24px;
        margin-left: 450px;
    }

    .header-nav-info-list-item-img {
        width: 40px;
        height: 40px;
    }

    .hero {
        padding-top: 267px;
        padding-bottom: 331px;
    }

    .hero::after {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        width: 900px;
        height: 1080px;
        background-image: url("./Photoes/whiteTriangle.webp");
        background-size: cover;
        z-index: 2;
        background-repeat: no-repeat;
    }

    .hero::before {
        background-image: url("./Photoes/istorikMain.webp");
        background-repeat: no-repeat;
        width: 879px;
        height: 794px;
        right: 80px;
        top: 146px;
        content: "";
        position: absolute;
        background-size: contain;
        z-index: 3;
    }

    .hero-info-title {
        font-size: 90px;
    }

    .hero-info-text {
        width: 800px;
        font-size: 50px;
        line-height: 1.3;
        margin-top: 24px;
        margin-bottom: 107px;
    }

    .hero-info-button {
        display: inline-block;
        padding: 20px 42px;
        text-align: center;
        border-radius: 10px;
        background: #fcfcfc;
        font-size: 26px;
        max-width: 391px;
    }
}

.about {
    padding-top: 24px;
    padding-bottom: 23px;
}

.about-title {
    margin-bottom: 38px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
}

.about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.about-list-item {
    width: 179px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 0 26px 0 26px;
}

.about-list-item-img {
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.about-list-item-title {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3;
}

@media (min-width:1920px) {
    .about {
        padding-top: 108px;
        padding-bottom: 120px;
    }

    .about > .container {
        min-width: 1388px;
    }

    .about-title {
        margin-bottom: 64px;
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        line-height: 1.3;
    }

    .about-list {
        flex-direction: row;
        gap: 40px 82px;
        display: flex;
        flex-wrap: wrap;
    }

    .about-list-item {
        width: 408px;
        height: 446px;
        padding: 0 46px 0 46px;
    }

    .about-list-item-img {
        height: 224px;
        width: 224px;
        margin-bottom: 17px;
    }

    .about-list-item-title {
        font-size: 34px;
        font-weight: 400;
        line-height: 1.3;
    }

    .about-list:last-child {
        margin: 0;
    }

    .about-list-item:last-child {
        padding: 0 30px 0 30px;
    }
}

.areas {
    background-color: #DF803E;
    padding-top: 40px;
    padding-bottom: 13px;
}

.areas-list {
    position: relative;
}

.areas-title {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 12px;
}

.areas-list-item {
    display: flex;
    border-top: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 6px;
    column-gap: 12px;
}

.areas-list-item:nth-child(5)>a {
    margin-top: 0;
    width: 258px;
}

.areas-list-item:last-child {
    border-bottom: 1px solid #000;
}

.areas-list-item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 25px;
    font-size: 13px;
    line-height: 1.3;
    border: 1px solid #000;
    border-radius: 50%;
}

.areas-list-item:nth-child(5)>.areas-list-item-number {
    margin: auto;
}

.areas-list-item-link {
    font-size: 10px;
    line-height: 1.3;
    color: #000;
    margin: 6px 0;
}

.areas-button:hover {
    background-color: #B7410E;
    box-shadow: 0 0 5px #B7410E;
    transition: 0.3s;
}

.areas-button {
    margin-top: 164px;
    margin-left: 167px;
    font-size: 12px;
    background-color: #DF803E;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 6px;
    cursor: pointer;
}

.areas-list::before {
    background-image: url(./Photoes/istorikSuit.webp);
    content: '';
    background-size: contain;
    position: absolute;
    width: 133px;
    height: 188px;
    bottom: -188px;
    left: 0;
}


@media screen and (min-width: 1920px) {
    .areas {
        padding-top: 108px;
        padding-bottom: 125px;
    }

    .areas-title {
        margin-bottom: 64px;
        font-size: 50px;
    }

    .areas-list {
        margin-left: auto;
        margin-right: auto;
        max-width: 824px;
    }

    .areas-list-item {
        border-top: 2px solid #000;
        padding-top: 16px;
        column-gap: 35px;
    }

    .areas-list-item:last-child {
        border-bottom: 2px solid #000;
    }

    .areas-list-item-number {
        width: 66px;
        height: 66px;
        border: 2px solid #000;
        font-size: 34px;
    }

    .areas-list-item:nth-child(5)>a {
        width: 723px;
    }

    .areas-list-item-link {
        margin: 9px 0 11px 0;
        font-size: 34px;
    }

    .areas-button {
        padding: 20px 40px;
        font-size: 26px;
        margin: 64px 649px 0 659px;
    }

    .areas-list::before {
        position: absolute;
        content: '';
        background-image: url(./Photoes/istorikSuit.webp);
        width: 418px;
        height: 590px;
        bottom: 16px;
        left: -428px;
    }

    .areas-list::after {
        position: absolute;
        background-image: url(./Photoes/istorikSuit.webp);
        content: '';
        width: 418px;
        height: 590px;
        bottom: 16px;
        right: -428px;
    }
}



.training {
    padding: 20px 0px 18px;
}

.training-wrapper {
    margin-bottom: 26px;
}

.training-first-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
}

.training-second-title {
    margin-bottom: 26px;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
}

.training-first-list {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 13px;
}

.training-second-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.training-first-list-item {
    gap: 20px;
    display: flex;
    height: 42px;
}

.training-second-list-item {
    display: flex;
    gap: 8px;
}

.training-first-list-item-number {
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./icons/circle.svg);
    background-size: cover;
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
}

.training-second-list-item-number {
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./icons/circle.svg);
    background-size: cover;
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
}

.training-first-list-item-title {
    margin: 12px 0;
    font-size: 14px;
    line-height: 1.3;
}

.training-second-list-item-title {
    margin: 9px 0;
    font-size: 15px;
    line-height: 1.3;
}

.training-image {
    position: relative;
    left: -13px;
    margin-top: 12px;
    min-width: 320px;
    height: 180px;
    border-radius: 14px;
}

.training-second-list-item-content-text {
    font-size: 12px;
    width: 232px;
}


.travels-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.travels {
    display: flex;
    padding-top: 98px;
}

.travels-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
}

.travels-text {
    padding: 0 25px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1.3;
}

.travels-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 232px 185px 176px;
}

.travels-image-1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 160px;
    height: 232px;
}

.travels-image-2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 160px;
    height: 232px;
}

.travels-image-3 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 320px;
    height: 185px;
}

.travels-image-4 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 320px;
    height: 176.43px;
}

.travels-grid {
    display: none;
}


@media(min-width: 1920px) {
    .travels {
        padding-bottom: 120px;
    }

    .travels>.container {
        min-width: 1680px;
    }

    .training {
        padding-top: 215px;
    }

    .training>.container {
        min-width: 1680px;
    }

    .training-wrapper {
        display: flex;
        gap: 83px;
        margin: 0;
    }

    .training-first-list-wrapper {
        height: 408px;
        width: 638px;
    }

    .training-second-list-wrapper {
        width: 1680px;
        height: 359px;
    }

    .training-first-title {
        margin-bottom: 65px;
        font-size: 50px;
        text-align: start;
        margin-top: 0;
        font-weight: 400;
    }

    .training-second-title {
        font-size: 50px;
        text-align: center;
        margin: 65px;
        font-weight: 400;
    }

    .training-first-list {
        width: 328px;
        height: 278px;
        gap: 40px;
    }

    .training-second-list {
        display: flex;
        flex-direction: row;
        gap: 105px;
        width: 1680px;
    }

    .training-first-list-item {
        height: 66px;
    }

    .training-second-list-item:first-child {
        width: 459px;
        height: 167px;
    }

    .training-second-list-item:nth-child(2) {
        width: 510px;
        height: 229px;
    }

    .training-second-list-item:last-child {
        width: 501px;
        height: 167px;
    }

    .training-second-list-item {
        gap: 20px;
        width: 510px;
        height: 229px;
    }

    .training-first-list-item-number {
        min-width: 66px;
        min-height: 66px;
        font-size: 34px;
    }

    .training-second-list-item-number {
        min-width: 66px;
        min-height: 66px;
        font-size: 34px;
    }

    .training-first-list-item-title {
        font-size: 34px;
        font-weight: 400;
    }

    .training-second-list-item-title {
        font-size: 34px;
        font-weight: 400;
    }

    .training-image {
        position: static;
        margin-top: 25px;
        width: 956px;
        height: 505px;
    }

    .training-second-list-item-content-text {
        font-size: 26px;
        width: 417px;
    }


    .travels {
        padding-top: 108px;
    }

    .travels-title {
        margin-bottom: 48px;
        font-size: 50px;
        font-weight: 400;
    }

    .travels-text {
        padding: 0;
        margin-bottom: 44px;
        font-size: 34px;
    }

    .travels-text:last-of-type {
        margin-bottom: 48px;
    }

    .travels-image-wrapper {
        height: 1020px;
    }

    .travels-grid {
        display: grid;
        border-radius: 14px;
    }

    .travels-image {
        grid-template-columns: 410px 524px 134px 132px 408px;
        grid-template-rows: 392px 88px 284px 196px;
        grid-gap: 20px;
    }

    .travels-image-1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 410px;
        height: 500px;
        border-radius: 14px;
    }

    .travels-image-2 {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 405px;
        height: 500px;
        border-radius: 14px;
    }

    .travels-image-3 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        width: 678px;
        height: 392px;
        border-radius: 14px;
    }

    .travels-image-4 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 6;
        width: 711px;
        height: 392px;
        border-radius: 14px;
    }

    .travels-image-5 {
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 524px;
        height: 608px;
    }

    .travels-image-6 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 6;
        width: 557px;
        height: 392px;
    }

    .travels-image-7 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 5;
        width: 286px;
        height: 196px;
    }

    .travels-image-8 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 5;
        grid-column-end: 6;
        width: 408px;
        height: 196px;
    }
}


.team {
    background-color: #df803e;
    padding-top: 17px;
    padding-bottom: 72px;
}

.team-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 41px;
}

.team-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.team-list-item {
    display: none;
}

.team-list-item {
    background-color: rgba(252, 252, 252, 1);
    border-radius: 14px;
    padding-bottom: 9px;
}

.team-list-item-img {
    width: 138px;
    height: 183px;
    border-radius: 14px 14px 0 0;
    margin-bottom: 2px;
}

.team-list-item-title {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

.team-list-item-text {
    font-size: 7px;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-item-text-small {
    width: 120px;
    text-align: center;
    font-size: 9px;
    margin: 0 auto 6px auto;
}

.team-list-item-text-small2 {
    font-size: 9px;
    text-align: center;
    width: 80px;
    margin: 0 auto;
}

.team-active {
    display: block;
}

.team-button-left {
    background-color: #df803e;
    border: 0;
}

.team-button-right {
    background-color: #df803e;
    border: 0;
}

.team-arrow-left {
    width: 35px;
    height: 35px;
}

.team-arrow-right {
    width: 35px;
    height: 35px;
}

@media (min-width: 1920px) {
    .team {
        padding-top: 108px;
        padding-bottom: 120px;
    }

    .team-title {
        font-size: 50px;
        line-height: 1.3;
        margin-bottom: 64px;
    }

    .team-wraper {
        column-gap: 64px;
    }

    .team-list {
        display: flex;
        column-gap: 32px;
    }

    .team-list-item {
        padding-bottom: 72px;
        display: block;
        width: 400px;
        height: 690px;
        margin-top: 119px;
    }

    .team-button-left {
        width: 106px;
        height: 106px;
    }

    .team-arrow-right {
        width: 106px;
        height: 106px;
    }

    .team-arrow-left {
        width: 106px;
        height: 106px;
    }

    .team-list-item-img {
        width: 400px;
        height: 509px;
    }

    .team-list-item-title {
        font-size: 30px;
        line-height: 1;
        margin-top: 33px;
        margin-bottom: 18px;
    }

    .team-list-item-text {
        font-size: 22px;
        margin-bottom: 0;
    }

    .team-list-item-text-small {
        font-size: 26px;
        display: none;
    }

    .team-list-item-text-small2 {
        display: none;
    }

    .team-active {
        width: 476px;
        height: 928px;
        margin-top: 0;
    }

    .team-active>.team-list-item {
        padding-bottom: 92px;
    }

    .team-active>.team-list-item-img {
        width: 476px;
        height: 606px;
    }

    .team-active>.team-list-item-title {
        font-size: 34px;
        line-height: 1.3;
        margin: 36px 0 18px 0;
    }

    .team-active>.team-list-item-text {
        font-size: 26px;
        margin-bottom: 14px;
    }

    .team-active>.team-list-item-text-small {
        display: block;
        font-size: 26px;
        line-height: 1;
        width: 396px;
        margin: 0 auto 14px auto;
    }

    .team-active>.team-list-item-text-small2 {
        display: block;
        font-size: 26px;
        line-height: 1;
        width: 360px;
        margin: 0 auto;
    }
}


.reviews {
    padding-top: 17px;
    padding-bottom: 46px;
}

.reviews>.container {
    width: 316px;
}

.reviews-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 13px;
}

.reviews-list-item-card {
    border-radius: 20px;
    background: rgba(222, 116, 43, 0.9);
    font-size: 10px;
    padding: 31px 23px 26px 19px;
    margin-bottom: 8px;
}

.reviews-list-item-card-title {
    font-size: 12px;
    line-height: 1.3;
}

.reviews-list-item-card-text {
    font-size: 10px;
}

.line-card {
    width: 278px;
    margin-top: 7px;
    margin-bottom: 13px;
    border-bottom: 2px solid #fcfcfc;
    position: relative;
}

.reviews-button-left {
    display: none;
}

.reviews-button-right {
    display: none;
}

.line-card::after {
    content: '';
    background-image: url(./Photoes/backgroundGirafeSmall.webp);
    position: absolute;
    width: 31px;
    height: 46px;
    background-size: contain;
    bottom: -1px;
    right: 0;
}

@media (min-width: 1920px) {
    .reviews {
        padding-top: 108px;
        padding-bottom: 126px;
    }

    .reviews>.container {
        min-width: 1680px;
    }

    .reviews-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 69px;
    }

    .reviews-title {
        font-size: 50px;
        margin-bottom: 58px;
    }

    .reviews-list-item {
        display: none;
    }

    .reviews-list-item-card {
        padding: 48px 76px 74px 80px;
        width: 1330px;
        margin: 0;
    }

    .reviews-list-item-card-title {
        font-size: 34px;
    }

    .reviews-list-item-card-text {
        font-size: 26px;
    }

    .line-card {
        width: 1173px;
        margin-top: 23px;
    }

    .reviews-button-right {
        display: block;
        width: 106px;
        height: 106px;
        background-color: rgba(255, 255, 255, 1);
        border: 0;
    }

    .reviews-button-left {
        display: block;
        width: 106px;
        background-color: rgba(255, 255, 255, 1);
        border: 0;
    }

    .reviews-active {
        display: block;
    }

    .line-card::after {
        content: '';
        background-image: url(./Photoes/backgroundGirafeBig.webp);
        position: absolute;
        width: 76px;
        height: 107px;
        background-size: contain;
        bottom: -5px;
        right: 0;
    }
}


.footer {
    background-color: #df803e;
    height: auto;
    width: auto;
    padding-top: 11px;
    padding-bottom: 16px;
}

.footer-text {
    font-size: 13px;
    margin: 0 0 8px 0;
}

.footer-list {
    display: flex;
    row-gap: 6px;
    column-gap: 13px;
}

.footer-list-item-text {
    font-size: 9px;
}

.footer-list-item-link {
    color: #000;
    font-size: 8px;
}

.footer-media {
    display: none;
}

@media screen and (min-width: 1920px) {
    .footer {
        padding-top: 112px;
        padding-bottom: 127px;
    }

    .footer-context {
        display: flex;
    }

    .footer-text {
        font-size: 42px;
        margin: 0;
    }

    .footer-list {
        margin: 0 256px 0 200px;
        column-gap: 120px;
    }

    .footer-list-item-text {
        font-size: 18px;
    }

    .footer-list-item-link {
        font-size: 18px;
    }

    .footer-media {
        display: block;
    }

    .footer-media-text {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-media-picks {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .footer-media-picks-link-img {
        width: 24px;
        height: 24px;
    }
}